@tailwind preflight;
@tailwind components;
@tailwind utilities;

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  main {
      width: 70%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  main {
      width: 60%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  main {
      width: 50%;
  }

  i {
      font-size: 40px;
  }

  .navlink {
      font-size: 1.5rem;
  }
  
  .social-btn {
      width: 50px;
      height: 50px;
  }
}