@tailwind preflight;
@tailwind components;
@tailwind utilities;

/* BASE */
:root {
  --bg-color: #e8dacf;
  --primary-font: #5e4c3e;
  --buy-color: #3e853e;
  --logo-red: #bd3225;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-font);
}
a, a:link, a:active {
  color: var(--buy-color);
}

a:visited {
  color: #2d5f2d;
}

/* LAYOUT */
#nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}

h1 {
  text-shadow: 0 0 1px black;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  width: 75%;
}

#twitter-btn {
  background-color: #007bff;
}

#instagram-btn {
  background-image: linear-gradient(45deg, orange, red, purple);
}

#facebook-btn {
  background-color: blue;
}

#facebook-i {
  position: relative;
  left: 5px;
  top: 5px;
}

#pitch {
  font-size: 1.5rem;
}

/* MODULES */

.navlink {
  font-weight: 700;
  text-align: left;
  margin-bottom: 0.5rem;
}

.navlink:nth-child(2) {
  margin-bottom: 1em;
}

.buy-color {
  background-color: var(--buy-color);
  color: white;
}

/* STATE */

/* THEME */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  main {
      width: 70%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  main {
      width: 60%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  main {
      width: 50%;
  }

  i {
      font-size: 40px;
  }

  .navlink {
      font-size: 1.5rem;
  }
  
  .social-btn {
      width: 50px;
      height: 50px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}