@tailwind preflight;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Naomis Hand';
    src: url('./assets/fonts/NaomisHand-Regular.eot');
    src: url('./assets/fonts/NaomisHand-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/NaomisHand-Regular.woff2') format('woff2'),
        url('./assets/fonts/NaomisHand-Regular.woff') format('woff'),
        url('./assets/fonts/NaomisHand-Regular.ttf') format('truetype'),
        url('./assets/fonts/NaomisHand-Regular.svg#NaomisHand-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes zipup {
    from {
        overflow: hidden;
        height: 100%;
    }

    to {
        height: 0;
    }
}

.Zipup {
    animation: zipup 1s cubic-bezier(0.075, 0.82, 0.165, 1) once;
}