:root {
    --bg-color: #e8dacf;
    --primary-font: #5e4c3e;
    --buy-color: #3e853e;
    --logo-red: #bd3225;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-font);
}

h1 {
    text-shadow: 0 0 1px black;
}

#social-media {
    position: fixed;
    margin-top: 15px;
    left: 10px;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

#social-media button {
    width: 50px;
    height: 50px;
    border: none;
    margin-bottom: 0.5em;
    background-color: white;
}

#worm-count, #compost-count {
    display: inline-block;
    width: 25px;
}

.buy-color {
    background-color: var(--buy-color);
    color: var(--bg-color);
}

.discount {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -5px;
    right: -5px;
    overflow: hidden;
}

.discount::before, .discount::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #135f09;
    border-top-color: transparent;
    border-right-color: transparent;
}

.discount::before {
    top: 0;
    left: 0;
}

.discount::after {
    bottom: 0;
    right: 0;
}

.discount span {
    width: 175px;
    height: 30px;
    display: block;
    position: absolute;
    top: 25px;
    right: -49px;
    transform: rotate(45deg);
    box-shadow: -3px 3px 10px 0px #3f693d;
    font-weight: 700;
    font-size: 20px;
    text-shadow: 0px 0px 5px #2e2e2e;
}

.reverse {
    flex-direction: row-reverse;
    justify-content: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 30%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}